.vscode/**
.vscode-test/**
src/**
test/**
webview-ui/src/**
webview-ui/node_modules/**
.devcontainer/**
.github/**
.gitignore
.eslintrc.json
*.map
*.ts
!dist/**
tsconfig.json
esbuild.js
vitest.config.ts
playwright.config.ts
.vscode-test.js
node_modules/**
!node_modules/@linear/sdk/**
